li.post {
  background: #fff;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.133916);
}

div.content {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}

div.user img {
  width: 32px;
  border-radius: 50%;
}

div.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.userinfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

div.userinfo a {
  font-size: 14px;
  text-decoration: none;
  color: #4a4a4a;

  font-weight: bold;
}
div.userinfo span {
  padding-top: 3px;
  font-size: 11px;
  color: #9a9a9a;
}

div.post {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  color: #3e3e3e;
}
